@use "../../assets/scss/base/variables";

.entry {
  max-width: variables.$text-width;

  @media all and (max-width: variables.$screen-columns) {
    .close {
      display: none;
    }
  }

  @media all and (min-width: variables.$screen-columns) {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    flex: 0 1 variables.$text-width;
    min-width: calc(variables.$text-width * 0.9);
    max-width: calc(variables.$text-width * 0.9);
    height: 100%;
    padding-right: 1.4em;
  }

  @media all and (min-width: variables.$screen-lg) {
    min-width: variables.$text-width;
    max-width: variables.$text-width;
  }

  footer {
    margin-top: 2em;
  }

  &:not(:first-child) {
    display: none;

    @media all and (min-width: variables.$screen-columns) {
      display: block;
    }

    &:focus-visible {
      outline: 0.5px solid currentcolor;
      outline-offset: 4px;
    }
  }
}
