@use "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  position: relative;
  margin: 1.4em;
  font-family:
    var(--font-dm-sans),
    system-ui,
    -apple-system,
    sans-serif;
  font-size: 12px;
  letter-spacing: 2%;
  line-height: 1.6;

  @media all and (min-width: variables.$screen-xs) {
    font-size: 13px;
  }

  @media all and (min-width: variables.$screen-md) {
    // font-size: 14px;
  }

  @media all and (min-width: variables.$screen-lg) {
    font-size: 16px;
  }

  @media all and (min-width: variables.$screen-xl) {
    font-size: 20px;
  }

  a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-skip-ink: none;

    &:focus-visible {
      outline: 0.5px solid currentcolor;
      outline-offset: 4px;
    }
  }

  figure {
    position: relative;
    margin: 0;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  ul {
    padding-left: 2em;

    li {
      padding-bottom: 0.5em;
      list-style: circle;

      ul {
        margin-top: 0.25em;

        li {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
