@use "../base/variables";

html {
  &[data-theme="dark"] {
    body {
      background-color: variables.$background-dark;
      font-weight: 300;
      color: variables.$color-dark;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 300;
      }

      a {
        text-decoration-color: variables.$color-link-dark;

        &:hover,
        &:focus,
        &:active {
          text-decoration-color: variables.$color-dark;
        }
      }

      main {
        border-color: variables.$color-dark;
      }

      main,
      header {
        scrollbar-color: variables.$color-link-dark transparent;
      }
    }
  }

  &[data-theme="light"] {
    body {
      background-color: variables.$background;
      font-weight: 400;
      color: variables.$color;

      h1 {
        font-size: 1.1em;
        font-weight: 400;
      }

      h2,
      h3,
      h4,
      h5,
      h6,
      .mono {
        font-weight: 400;
      }

      .mono {
        font-size: 0.9em;
      }

      a {
        text-decoration-color: variables.$color-link;

        &:hover,
        &:focus,
        &:active {
          text-decoration-color: variables.$color;
        }
      }

      main {
        border-color: variables.$color;
      }

      main,
      header {
        scrollbar-color: variables.$color-link transparent;
      }
    }
  }
}
