@use "./variables";

h1,
h2,
h3,
h4 {
  font-size: 1em;
  letter-spacing: 3%;
}

h1,
h2 {
  margin-top: 0;
}

h1 {
  font-style: italic;
  font-size: 1.2em;
  line-height: 120%;
}

main h2 {
  margin-top: 0;
  text-transform: none;
}

h2,
h3 {
  text-transform: uppercase;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 1.5em;
}

.mono {
  text-transform: uppercase !important;
  font-size: 0.8em;
}
