@use "./variables";

h1,
h2,
h3,
h4 {
  font-size: 1em;
}

h2,
h3,
h4 {
  font-family: var(--font-dm-mono);
}

h1,
h2 {
  margin-top: 0;
}

h1 {
  font-family: var(--font-dm-sans);
  font-style: italic;
  font-size: 1.1em;
  line-height: 120%;
}

main h2 {
  margin-top: 0;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 1.5em;
}

.mono {
  font-family: var(--font-dm-mono);
}
