$background: #fff;
$background-dark: #25272e;

$color: #262e52;
$color-dark: #fff;
$color-link: #262e527d;
$color-link-dark: #ffffff8f;

$screen-xs: 350px;
$screen-sm: 540px;
$screen-md: 900px;
$screen-lg: 1400px;
$screen-xl: 2000px;

$text-width: 700px;
