$background: #fafafb;
$background-dark: #040610;

$color: #000d4e;
$color-dark: #e7e7e7;
$color-link: #000d4e5a;
$color-link-dark: #e7e7e789;

$screen-xs: 350px;
$screen-sm: 600px;
$screen-md: 900px;
$screen-lg: 1400px;
$screen-xl: 2000px;

$text-width: 700px;
