@use "../base/variables";

.columns {
  @media all and (min-width: variables.$screen-sm) {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: scroll;
    min-width: 100vw;
    max-height: 99vh;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em;
  }

  @media all and (min-width: variables.$screen-lg) {
    gap: 4em;
  }
}
