@use "../base/variables";

.columns {
  @media all and (min-width: variables.$screen-sm) {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: scroll;
    min-width: 100%;
    max-height: calc(100vh - 2.8em);
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em;
  }
}
