@use "../base/variables";

#site-footer {
  margin-top: 4em;
  font-size: 0.85em;

  @media all and (min-width: variables.$screen-columns) {
    position: fixed;
    right: 0;
    margin: 1.4em;
    bottom: 0;
  }
}
