@use "../base/variables";

main {
  margin-top: 2em;
  word-wrap: break-word;

  @media all and (min-width: variables.$screen-sm) {
    display: flex;
    margin: 0;
    flex: 1 1 auto;
    gap: 1em;

    > article {
      flex: 0 1 variables.$text-width;
      min-width: variables.$column-min-width;
      max-width: variables.$text-width;
      overflow-y: scroll;
      scrollbar-width: thin;
      padding: 0 0 2.4em 1em;
    }
  }

  @media all and (min-width: variables.$screen-lg) {
    gap: 2em;

    > article {
      padding-left: 2em;
    }
  }
}
